<launch>
    <!--node pkg="robot_gps" type="dgps_sinan" name="dgps_sinan" respawn="true">
    </node-->
    <node pkg="robot_artificial" type="artificial" name="artificial">
    </node>
    <include file="$(find rplidar_ros)/launch/rplidar_a3.launch" />

    <!--node name="rviz" pkg="rviz" type="rviz" args="-d $(find rplidar_ros)/rviz/rplidar.rviz" /-->
</launch>
