<launch>
  <arg
    name="model" />
  <param
    name="robot_description"
    textfile="$(find robot_description)/urdf/robot_description.urdf" />
  <node
    name="joint_state_publisher_gui"
    pkg="joint_state_publisher_gui"
    type="joint_state_publisher_gui" />
  <node
    name="robot_state_publisher"
    pkg="robot_state_publisher"
    type="robot_state_publisher" />
  <node
    pkg="tf" 
    type="static_transform_publisher" 
    name="base_footprint_to_odom"  
    args="0 0 0 0 0 0 /odom /base_footprint 10" />
  <!-- <node
    name="rviz"
    pkg="rviz"
    type="rviz"
    args="-d $(find robot_description)/rviz/RS-lidar_urdf.rviz" /> -->
</launch>